<div id="application"></div>
<script type="text/javascript">$(document).ready(function() { $("#sidebarCollapse").on("click", function() { $("#sidebar").toggleClass("active") }) })</script>
<script type="text/javascript" src="~/js/main.backoffice.js"></script>