@{
    Layout = "_StaticLayout";
    ViewData["Title"] = "Forgot Password Confirmation";
}

<header class="title">
    <h2>@ViewData["Title"].</h2>
</header>
<p>
    Please check your email to reset your password.
</p>
