@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Kastra.Web.Models.Account
@using Kastra.Core.Dto
@using Microsoft.AspNetCore.Identity;
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "_StaticLayout";
    ViewData["Title"] = "Log in";
    ViewData["ReturnUrl"] = "/page/home";
}

<header class="title">
    <h2>@ViewData["Title"].</h2>
</header>
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Use a local account to log in.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="field">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="field">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="field">
        <label class="field-checkbox" asp-for="RememberMe">
            @Html.DisplayNameFor(m => m.RememberMe)
            <input asp-for="RememberMe" />
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="actions">
        <button type="submit" class="button button-primary">Log in</button>
    </div>

    <div class="actions-secondary">
        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user ?</a>
        <a asp-action="ForgotPassword">Forgot your password ?</a>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
