@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="cookie-consent" role="alert">
        <div class="hidden-container hidden">
            <button type="button" class="btn-show">
                <span class="ion-ios-arrow-up"></span>
            </button>
        </div>
        <div class="container">
            <button type="button" class="btn-hide">
                <span class="ion-ios-arrow-down"></span>
            </button>
            <div>
                <p>
                    @ViewBag.ConsentNotice
                    <!-- Use this space to summarize your privacy and cookie use policy. -->
                    @if (!string.IsNullOrEmpty(ViewBag.CookieUsePolicyUrl))
                    {
                        <a href=@ViewBag.CookieUsePolicyUrl>Learn More</a>
                    }
                </p>
                
                
            </div>
            
            <button type="button" class="button button-primary" data-cookie-string="@cookieString">Accept</button>
        </div>
    </nav>
    <script type="text/javascript">
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
            document.querySelector("#cookieConsent .btn-show").addEventListener("click", function (el) {
                document.querySelector("#cookieConsent .hidden-container").classList.add("hidden");
                document.querySelector("#cookieConsent .container").classList.remove("hidden");
            }, false);
            document.querySelector("#cookieConsent .btn-hide").addEventListener("click", function (el) {
                document.querySelector("#cookieConsent .hidden-container").classList.remove("hidden");
                document.querySelector("#cookieConsent .container").classList.add("hidden");
            }, false);
        })();
    </script>
}