@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/themes/default/css/reset.css" />
    <link rel="stylesheet" href="~/themes/default/css/main.css" />
</head>
<body>
    <!-- Header -->
    <div id="page-content" class="main-container">

        <!-- Slider -->
        <div class="header-container">
            <header id="header">
                <h1>Kastra</h1>
                <p>AN OPEN, FREE AND CROSS-PLATFORM CMS</p>
            </header>
        </div>
        <div class="content-container">
            <div class="content">
                <input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
                <!-- Content -->
                @RenderBody()
            </div>
            <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; 2017 - 2018 Kastra. All rights reserved.
                </div>
            </footer>
        </div>
    </div>
</body>
</html>