@using Kastra.Web.Models
@using Kastra.Core.Dto
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="navbar">
    <div class="navbar-left">
        <img class="logo" src="/images/logo.svg" alt="" />
    </div>
    <div class="navbar-right">
        @if (SignInManager.IsSignedIn(User))
        {
            <span>Hello @UserManager.GetUserName(User)!</span>
            <span>&#8239;</span>
            <a href="/"><span>Home</span></a>
            <span>&#8239;</span>
            <a asp-controller="Manage" asp-action="Index">Mon compte</a>
            @if ((await AuthorizationService.AuthorizeAsync(User, "Administration")).Succeeded)
            {
                <span>&#8239;</span>
                <a href="/Admin">Admnistration</a>
            }
            <span>&#8239;</span>
            <a asp-controller="Account" asp-action="LogOff">Log off</a>
        }
        else
        {
            <a href="/"><span>Home</span></a>
            <span>&#8239;</span>
            <a asp-controller="Account" asp-action="Register"><span>Register</span></a>
            <span>&#8239;</span>
            <a asp-controller="Account" asp-action="Login"><span>Log in</span></a>
        }
    </div>
</div>

